<a href="https://colab.research.google.com/github/theallyprompts/ColabTutorial/blob/main/Colab_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TheAlly's Colab Tutorial**

An overview of basic colab features and operation.

## **Cells**

This is a TEXT cell, it doesn't execute (run) any code, but is here for **explanation** and **instruction**. It can contain images, links, and other advanced formatting using Markdown syntax.

Groups of cells under a heading can be collapsed by selecting the down-arrow next to the heading/title.

The cell below is a CODE cell - it can execute Python (or some other languages). Click the run button inside the cell to see the product of a+b appear below the cell.
You can also press **Ctrl+Enter** to run a cell when the cursor is within the grey cell borders.

In [ ]:
a = 10
b = 5
a + b

Text cells can also include MathJax **LATEX** equations, suich as `$\sqrt{3x-1}+(1+x)^2$` which is rendered as $\sqrt{3x-1}+(1+x)^2$

Python

In [4]:
a = 10
b = 5
a + b

15

# **Google Drive Integration**

The following code snippet will ask for confirmation before connecting this Colab to your Google Drive, allowing you to share files from your local PC with the remote Colab environment.

In [2]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

You can also connect your drive by using the menu on the left, and the Mount Drive button.

![image.png]()

You can then change the directory by running the following code (with the appropriate path to your data) - note, this code below won't run, as it's looking for a path that doesn't exist!

In [6]:
# Change directory
import os
os.chdir("drive/My Drive/<some folder in your drive>")

FileNotFoundError: ignored

Once you've navigated to a folder, you can start performing operations on your Google Drive data. This example isn't reading from Google Drive, but from the local Colab sample data, but the premise is the same.

The code below uses pandas.DataFrame (a Python function) to display csv (and other formats) in a two-dimensional table. You can see from the red file path where it's sourcing the data from.

In [5]:
# Read in data
import pandas as pd
df = pd.read_csv('/content/sample_data/mnist_test.csv')
df.head()

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0